@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

.elementFadeIn {
  /*  made-by-luis reyes */
  -webkit-animation: fadeIn 0.7s ease ;
  animation: fadeIn 0.7s ease ;
}

.elementFadeOut {
  /*  made-by-luis reyes */
  -webkit-animation: fadeOut 0.9s ease ;
  animation: fadeOut 0.9s ease ;
}

@keyframes fadeOut {
  from {opacity:1}
  to {opacity:0}
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

.oculto {
  visibility: hidden;
}